<%- include('./partials/header'); %>

<h1>Error 404: Not Found</h1>
<p><a class="post-title" href="/home">Maybe you'd like us to take you home? (click here)</a></p>

<%- include('./partials/footer'); %>